<p id="notice"><%= notice %></p>
<p>
  <b>Название:</b>
  <%= @discipline.discipline_dictionary_id %>
</p>
<p>
  <b>Group:</b>
  <%= @discipline.group_id %>
</p>

<p>
  <b>Teacher:</b>
  <%= @discipline.teacher_id %>
</p>


<%= link_to 'Изменить', edit_discipline_path(@discipline) %> |
<%= link_to 'Назад', disciplines_path %>
