<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--  <div class="field">
    <%= f.label :interview_id %><br />
    <%= f.number_field :interview_id %>
  </div>--!>
  <div class="field">
   <%= f.label :teacher_id %><br />
   <%= f.number_field :teacher_id, :value=>@report.teacher.monkeys_turn ,:readonly=>true %>
  </div>

  <%= f.fields_for :answers do |a|%>
  <%= a.object.question.question%>
  <br/>
  <%= a.number_field :value%>
  <%= a.hidden_field :question_id%>
  <br/>
<%end%>
  <div class="field">
    <%= f.hidden_field :ip, :value => @ip.to_s,:readonly=>true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
