<!DOCTYPE html>
<html>
  <head>
    <title> Система анонимного анкетирования </title>
    <%= stylesheet_link_tag 'reset', 'application', '2col', 'style', 'mystyle', 'scaffold','token-input-facebook'%>
    <%= javascript_include_tag :defaults, :application%>
    <%= csrf_meta_tag%>
    <style><%= yield :stylesheets %></style>
  </head>
  <body>
    <div id = "main">
      <%= render 'layouts/tray'%>
      <div id = "cols" class "box">
      <hr class = "noscreen">
      <%= render 'layouts/aside'%>
      <div id="content" class "box">
    <%unless notice.blank?%><div class="msg.done"><%=notice%></div><%end%>
    <%unless flash[:error].blank?%><div class="msg.error"><%= flash[:error]%></div><%end%>

    <%= yield %></div>
    </div>
    <hr class = "noscreen">
    <div id = "smth"><%= render 'layouts/footer'%></div>

</div>
</body>
